/* reseteo de cajas */
*{
  padding: 0px;
  margin: 0px;
  margin: auto;
}
.container{
  margin-top: 0px;
}

.slider{
  height:400px;
}
.slider img{
  height: 400px;
}
#carousel{
padding: 0;
}
#home{
  border-color: #45b5c6;
}
.productos{
  margin-top: 10px;
  margin-bottom: 10px;

}
.novedadesTienda p , .novedadesServicio p{
  z-index: 1;
  position: absolute;
  bottom:10px;
  margin-left: 15px;
  width: 100%;
}
.novedadesTienda h2 , .novedadesServicio h2{
  width:100%;
  z-index: 1;
  position: absolute;
  bottom:50px;
  margin-left: 15px;
  color:#f27e2b;
}
.novedadesServicio p, .novedadesServicio h2{
  margin-left: 0px;
  padding-right: 50px;
}
.novedadesTienda a{
  display: block;
  width: 100%;
  min-height: 300px;
  background-image: url("../../img/firebird.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  text-decoration: none;
  color: #dfdfdf;
  -webkit-transition: 1s ;
  -moz-transition: 1s ;
  -ms-transition: 1s ;
  transition: 1s;
}
.novedadesServicio a{
  display: block;
  width: 100%;
  min-height: 300px;
  background-image: url("../../img/rockcity1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  text-decoration: none;
  color: #dfdfdf;
  -webkit-transition: 1s ;
  -moz-transition: 1s ;
  -ms-transition: 1s ;
  transition: 1s;
}

.novedadesTienda a:hover{
  background-size: 105%;
}
.novedadesServicio a:hover{
  background-size: 105%;
}
.eventos .contenido{
  border: 1px solid #dfdfdf;
  padding: 0px;
  height:350px;
  text-align: center;
  background-color: #dfdfdf;

}
.login{
  margin: 0px;
  position: absolute;
  z-index: 2;
  right: 0px;
}
.botonLogin{
  width: 100%;
  background-color: #62D850;
  border: 2px #62D850 solid;
  outline: none !important;
  cursor: pointer;
}
.inputLogin{
  width: 100%;
}
.letraLogin{
  color: #343434;
}
.letraLogin:hover{
  text-decoration: none;
  color: #343434;
}
.contenidoLogin{
  background-color: #dfdfdf;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 10;
}
.contenidoLogin label{
  color: #343434;
}
.contenidoLogin input{
  background-color: #dfdfdf;
  border-style: none;
  outline: none;
  padding-top: 4px;
  border-bottom: 1px white solid;
  float:right;
  -webkit-transition: 1s ;
  -moz-transition: 1s ;
  -ms-transition: 1s ;
  transition: 1s;
}
.contenidoLogin input:focus{
  background-color:white;
}
.contenidoLogin button{
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  color: #343434;
  border:1px white solid;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.contenidoLogin button:nth-child(2){
  width: 100%;
  margin-top: 0px;
  background-color: #45b5c6;
  border:1px #45b5c6 solid;
  color: white;
  padding: 0px;
  -webkit-transition: 1s ;
  -moz-transition: 1s ;
  -ms-transition: 1s ;
  transition: 1s;

}
.contenidoLogin button:nth-child(2):hover{
  background: #dfdfdf;
}
.contenidoLogin a:hover{
  color: black;
}

.contenidoLogin a{
  width: 100%;
  color: white;
  outline: none;
  display: block;
  padding: 10px;
  text-decoration: none;
  -webkit-transition: 1s ;
  -moz-transition: 1s ;
  -ms-transition: 1s ;
  transition: 1s;
}
.contenidoLogin p{
  font-size: 12px;
}
@media(max-width:768px)  {
  .novedadesTienda p, .novedadesServicio p{
    bottom: 50px;
  }
  .novedadesTienda h2, .novedadesServicio h2{
    bottom: 100px;
    font-size: 30px;
  }
}
@media(max-width:767px)  {
  .container-fluid{
    padding: 0px;
  }
  .novedadesTienda p, .novedadesServicio p{
    bottom: 40px;
    margin-left: 15px;
  }
  .novedadesTienda h2, .novedadesServicio h2{
    bottom: 70px;
    font-size: 30px;
    margin-left: 15px;
  }
  .novedadesTienda , .novedadesServicio {
    padding: 0px;
  }
  .productos{
    margin: 0px;
    padding: 0px;
  }
  .login{
    margin: 0px;
    padding: 0px;
  }
  .slider{
    height: 60px;s
  }
  .botonLogin{
    padding: 10px;
  }
  .botonLogin a{
      font-size: 1.5rem;
  }
}
@media(max-width:425px)  {
.productos a{
  text-align: left;
}
.novedadesTienda h2{
    font-size: 2rem;
  }
.novedadesServicio h2{
    bottom: 75px;
    font-size: 1.5rem;
  }
  .novedadesTienda p, .novedadesServicio p{
    bottom: 20px;
  }
  .novedadesTienda p{
    width: 80%;
  }

}
@media(max-width:375px)  {
  .novedadesTienda h2, .novedadesServicio h2{
    bottom: 100px;
  }
}
@media(max-width:320px)  {
  .novedadesTienda p, .novedadesServicio p{
    bottom: 50px;
  }
}
