*{
  font-family: 'Work Sans', sans-serif;
}
body{
  background-color: #343434;
}
.cabecera{
  margin-top: 10px;
}
.logo{
  padding-left: 100px;
}
.logo a{
  text-decoration: none;
}
.logo h1{
  color: black;
}
img#logo{
  width: 100px;
}
.navegacion{
  text-align: center;
  padding:0px;
  margin: 0px;
}
.navegacion div{
  padding: 0px;
}
.navegacion ul{
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.navegacion li{
  list-style: none;
  display: inline-block;
  width: 20%;
}
.navegacion button{
  width: 100%;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: #343434;
  background-color:#343434;
  outline: none;
  -webkit-transition: 1s ;
  -moz-transition: 1s ;
  -ms-transition: 1s ;
  transition: 1s;
}
.navegacion button:hover{
  border-color: #45b5c6;
  border-bottom-style: solid;
  cursor: pointer;
}
.navegacion a {
  font-size: 16px;
  text-decoration: none;
  display: block;
  color: #dfdfdf;
  margin: 0px;
  width: 100%;
}
.buscador{
  margin-left: 20px;
  margin: 0px;
  padding: 0px;
  padding-right: 50px;

}
.buscador div{
  padding: 0px;
  padding-bottom: 2px;

}
.buscador input{
  background-color: #343434;
  border-style: none;
  outline: none;
  padding-top: 4px;
  border-bottom: 2px #dfdfdf solid;
  float:right;
  -webkit-transition: 1s ;
  -moz-transition: 1s ;
  -ms-transition: 1s ;
  transition: 1s;
}
.buscador input:focus{
  background-color:#dfdfdf;

}
.buscador button{
  background-color: #45b5c6 ;
  border: 2px #45b5c6 solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  float:right;
  outline: none;
  -webkit-transition: 1s ;
  -moz-transition: 1s ;
  -ms-transition: 1s ;
  transition: 1s;
}
.buscador button:hover{
  background-color:#dfdfdf;
  border: 2px #dfdfdf solid;
  cursor: pointer;
}
.buscador button{
  cursor: pointer;
}
i.fa-search{
  color: #dfdfdf;
  padding: 5px;
  -webkit-transition: 1s ;
  -moz-transition: 1s ;
  -ms-transition: 1s ;
  transition: 1s;
}
i.fa-search:hover{
  color:#343434;
}

/* NAV MOVIL */
.cabeceraMovil{
  margin: 0px;
  padding: 0px;
  font-size: 1.5rem;
  border-bottom: 1px #dfdfdf solid;
}
.cabeceraMovil #logo{
  width:70px;
}
.navegacionMovil ul{
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.navegacionMovil li{
  list-style: none;
  width: 100%;
}
.navegacionMovil button{
  width: 100%;
  background-color: #343434;
  border: none;
  border-bottom: 1px #dfdfdf solid;
}
.navbar{
  background-color: #dfdfdf;
}
.navegacionMovil a{
  padding: 20px;
  color: #dfdfdf;
  text-decoration: none;
}
.pie{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.pie li{
  list-style: none;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}
.pie div.rrss li{
  display: inline-block;
}
.pie i{
  border-radius: 50%;
  padding: 10px;
  color: white;
  margin: 5px;
}
.pie li:hover{
  opacity: 0.5;
}
.fa-twitter{
  background-color: #55acee;
}
.fa-facebook{
  background-color: #3b5998;
}
.fa-instagram{
  background-color: #125688;
}
.pie p{
  margin: 0px;
  color: black;
}
.pie a{
  text-decoration: none;
  color: #45b5c6;
}
.ley{
  text-align: left;
}
@media(min-width: 1140px){
  .logo{
    padding-left: 50px;
  }
}
@media(max-width:767px){
  .cabecera{
    margin-top:0px;
  }
  #logo{
    position: absolute;
    /* right: -1px; */
    top: 0.5px;
    bottom: -1px;
  }
}
