*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  margin: auto;

}

body{
  color: #dfdfdf;
}

.container{
  margin-top: 0px;
}

.filtro{
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
}
#tienda{
  border-color: #45b5c6;
}
#botonFiltro{
  padding-left: 30px;
  padding-right: 30px;
  background-color: #45b5c6;
  color:#343434;
  border:1px #45b5c6 solid;
  outline: none;
  cursor: pointer;
}
.contenidoFiltro{
  background-color: #dfdfdf;
  color:#343434;
}
.radioButtons{
  padding: 0px;
}
.radioButtons label{
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
.radioButtons input{
  cursor: pointer;
  width: 22px;
}
.contenidoFiltro button{
  background-color: #45b5c6;
  border: none;
  outline: none;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  cursor: pointer;
}
.contenidoFiltro button:hover{
  opacity:0.5;
}
#productosTienda{
  color:#343434;
}
.productos{
  margin-top: 100px;
}
.product button{
  padding: 10px;
  float: right;
  background-color: #62D850;
  border: 1px solid #62D850;
  border-radius: 5px;
  cursor:pointer;
}
.product button:hover{

}
.product{
  border: 1px solid #dfdfdf;
}
.product p{
  font-size:
}

hr{
  margin-top: 150px;
  border-color: #dfdfdf;

}

.verMas{
  margin-top: 50px;
  text-decoration: underline;
}

@media(max-width:764px){
  .productos{
    margin-top: 0px;
  }
  .filtro{
    margin-top: 0px;
  }
  .product{
    margin-top: 20px;

  }

  .product2{
    margin-top: 20px;

  }

}
