*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  margin: auto;

}

body{
  color: #dfdfdf;
}
.filtro{
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
}
#servicios{
  border-color: #45b5c6;
}
#botonFiltro{
  padding-left: 30px;
  padding-right: 30px;
  background-color: #45b5c6;
  color:#343434;
  border:1px #45b5c6 solid;
  outline: none;
  cursor: pointer;
}
.contenidoFiltro{
  background-color: #dfdfdf;
  color:#343434;
}
.radioButtons{
  padding: 0px;
}
.radioButtons label{
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
.radioButtons input{
  cursor: pointer;
  width: 22px;
}
.contenidoFiltro button{
  background-color: #45b5c6;
  border: none;
  outline: none;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  cursor: pointer;
}
.contenidoFiltro button:hover{
  opacity:0.5;
}
.servicio{
  height: 400px;
  border: 1px solid #dfdfdf;
}

.verMas{
  margin-top: 50px;
  text-decoration: underline;
}
